.dot {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
    animation-name: beat;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  .a {
    animation-delay: 0s;
  }
  
  .b {
    animation-delay: .005s;
  }
  
  .c {
    animation-delay: .01s;
  }
  
  .d {
    animation-delay: .015s;
  }
  
  .e {
    animation-delay: .02s;
  }
  
  .f {
    animation-delay: .025s;
  }
  
  .g {
    animation-delay: .03s;
  }
  
  .h {
    animation-delay: .035s;
  }
  
  .i {
    animation-delay: .04s;
  }
  
  .j {
    animation-delay: .045s;
  }
  
  .k {
    animation-delay: .05s;
  }
  
  .l {
    animation-delay: .055s;
  }
  
  .m {
    animation-delay: .06s;
  }
  
  .n {
    animation-delay: .065s;
  }
  
  .o {
    animation-delay: .07s;
  }
  
  .p {
    animation-delay: .075s;
  }
  
  .q {
    animation-delay: .08s;
  }
  
  .r {
    animation-delay: .085s;
  }
  
  .s {
    animation-delay: .09s;
  }
  
  .t {
    animation-delay: .095s;
  }
  
  @keyframes beat {
    from {
      top: 0%;
      right: 100%;
      bottom: 0%;
      left: 0%;
    }
    41.33% {
      top: 0%;
      right: 52%;
      bottom: 0%;
      left: 48%;
    }
    43.885% {
      top: 40%;
      right: 51%;
      bottom: 60%;
      left: 49%;
    }
    56.105% {
      top: 60%;
      right: 49%;
      bottom: 40%;
      left: 51%;
    }
    59.66% {
      top: 0%;
      right: 48%;
      bottom: 0%;
      left: 52%;
    }
    to {
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 100%;
    }
  }
  
  body {
    background: rgb(38, 2, 71);
    overflow: hidden;

    
    
    height: 100vh;
    padding:0;
    margin:0;
  }